@import url('https://fonts.googleapis.com/css2?family=Comfortaa&display=swap');
body {
  margin: 0;
  font-family: 'Comfortaa', cursive;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: white;
}

.App {
  width: 95vw;
  height: 84.5vh;
  padding-top: 35px;
  padding-left: 10px;
  padding-right: 10px;
  /* text-align: center; */
  overflow: scroll;
  /* position: relative; */
}

/* code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */
